.gitignore
.DS_Store
zz_Archived/*
Compare_CMIP6/*
functions/TEMP/*
Prepare_CMIP6_data/*
R_observational_model/*
R_observational_model/chains/*
R_observational_model/figures/*
R_observational_model/trace_plots/*
